body {
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

form {
  background: white;
  padding: 3em;
  height: max-content;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list {
  width: 100%;
  background: white;
  padding: 1.5em;
  height: fit-content;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

#informacoes {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 60px;
}

#info, #info2 {
  text-align: left;
  width: 50%;
}

p {
  font-weight: 300;
  color: #ff446a;
  opacity: 0.7;
  font-size: 1.0rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 700;
  color: #ff2e58;
  opacity: 0.7;
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
  font-weight: 500;
  color: #fc466b;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #fc466b;
  font-size: 12px;
}

input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid #fc466b;
  border-top: 1px solid #fc466b;
  border-radius: 5000px;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fc466b;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

#button {
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  background-color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #ff2e58;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

#button:hover {
  font-size: 1.2rem;
  margin-top: 9px;
  background-color: rgb(250, 250, 250);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #ff2e58;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#button:active {
  font-size: 1.2rem;
  margin-top: 9px;
  background-color: #ff2e58;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(250, 250, 250);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
  background: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
